@import '../../global.scss';

.button {
  margin: $marginSmall;
  padding: .5em;
  border: none;
  border-radius: $borderRadiusSmall;
  transition: all .07s ease-in-out;
  cursor: pointer;
  
  &:disabled {
    opacity: .5;
    box-shadow: none;
    cursor: default;
  }
  
  &.primary {
    background-color: $primary;
    color: lighten($bgColor, 15%);
    &:not(:disabled) {
      @include drop-shadow(medium);
      &:hover {
        background-color: lighten($primary, 6%);
        color: white;
      }
      &:active {
        background-color: darken($primary, 1%);
        @include drop-shadow(small);
      }
    }
    
    &:disabled {
      @include drop-shadow(small);
    }
  }
  
  &.large {
    min-width: max-content;
    height: fit-content;
    font-weight: bold;
    font-size: 1.3em;
  }
  
  &.small {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
  }
  
  &.small.icon {
    background-color: rgba(255, 255, 255, 0.428);
    width: 1.1em;
    height: 1.1em;
    color: currentColor;
    font-weight: normal;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.655);
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.561);
    }
  }
}

@media screen and (min-width: 650px) {
  .button.large {
    font-size: 1.14em;
  }
}