@import '../../global.scss';

.backdrop.open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(233, 233, 233, 0.306);
}

.infoIcon {
  position: absolute;
  right: .8em;
  background-color: transparent;
  padding: 0.2em 0.3em .3em .3em;
  margin: 0;
  display: flex;
  width: min-content;
  height: min-content;
  border-radius: 100%;
  z-index: 2;
  cursor: pointer;
  
  &:focus-within svg {
    outline: 5px solid $tabFocusBorderColor;
    outline-offset: 3px;
  }
  svg {
    height: 1.2em;
    width: 1.2em;
    align-self: baseline;
    pointer-events: none;
    border-radius: 100%;
  }
}

.infoCardWrapper {
  padding-right: 1em;
  position: absolute;
  margin-top: 0.75em;
  right: 2em;
  opacity: 1;
  z-index: 1;
  &::before {
    content: "";
    width: 1em;
    height: 1em;
    background-color: $headerBg;
    -webkit-clip-path: polygon(0 0, 30% 3%, 0 100%);
    clip-path: polygon(0 0, 30% 3%, 0 100%);
    position: absolute;
    right: 0.2px;
    top: 0;
  }
  .infoCard {
    background-color: $headerBg;
    color: $headerColor;
    border-radius: $borderRadiusSmall;
    border-top-right-radius: 0;
    cursor: pointer;
    
    caption {
      text-align: left;
      margin: 14px 17px;
      margin-bottom: 0;
      width: max-content;
      border-bottom: 1px solid $headerColor;
    }
  
    thead, th {
      font-size: 1.1em;
    }
  
    th {
      text-align: left;
    }
  
    th, td {
      padding: 14px 17px;
    }
  }
}

@media screen and (max-width: 650px) {
  .infoCardWrapper {
    font-size: 0.8em;
    margin-top: 1em;
    right: 2.3em;
    .infoCard {

      caption {
        margin-left: 11px;
      }

      th, td {
        padding: 8px;
      }
    }
  }
}