@import '../../global.scss';

.snack {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-right: 2em;
  background-color: rgb(202, 225, 169);
  border-radius: $borderRadiusSmall;
  margin: 1em;
  min-width: 8em;
  position: relative;

  @include box-shadow(medium);
  .message {
    margin: 0;
    font-size: .9em;
  }

  button {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
  }
  
  &.success {
    background-color: $success;
  }
  
  &.info {
    background-color: $info;
  }
  
  &.warning {
    background-color: $warning;
  }
  
  &.danger {
    background-color: $danger;
  }
  
}