@import './global.scss';


.wrapper {
  width: 100%;
  background-color: $bgColor;
  position: relative;
  
  header {
    width: 100%;
    background-color: darken($bgColor, 80%);
    color: lighten($bgColor, 5%);
    h1 {
      font-size: 1.55em;
      padding: 0.8em 0;
      text-align: center;
      margin: 0;
    }
  }
  box-sizing: border-box;
  
  .main {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
  }

  .snackbarWrapper {
    position: fixed;
    bottom: 0;
    width: min-content;
  }
}