@import './global.scss';

@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Raleway:ital,wght@0,400;0,600;0,800;0,900;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  margin: 0; 
  padding: 0; 
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Paduk', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: lighten($bgColor, 8%);
  box-shadow: inset 0 0 5px lighten($bgColor, 5%);
}

::-webkit-scrollbar-thumb {
  background: lighten($headerBg, 10%); 
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($headerBg, 20%); 
}


/* Read more: https://kittygiraudel.com/snippets/sr-only-class/ */
.sr-only {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

*:focus-visible {
  outline: 4px solid $tabFocusBorderColor;
}